html, body           {   font-family: "Roboto", sans-serif; color:#002c41; margin: 0px 0px 0px 0px ; padding: 0;  font-size:12px;     }
a                    {  text-decoration: none;  color:#746552;}
#container            {  width: 1150px; height: auto;  margin: auto;     }
#container_conteudo  {  width: 1150px; height: auto;   float:left;   margin: 3px  0px 0px 0px;     }

#container_loginbx01 {  width: 550px; height: auto;   float:left;   margin: 3px  0px 0px 0px;     }


#container_loginbx02 {  float: right; width: 380px; margin: 10px  auto;   background-color:#e3e2e1;    border-radius:  10px; padding: 30px;  }
#container_loginbx04 {  width: 380px; height: auto;   float:left;   margin: 3px  0px 0px 0px; text-align: center;    }
#container_loginbx04 h2{
  color: #002c41;
  letter-spacing: 0.5px;
  padding: 15px 0;
  font-size: 18px;
}
#container_loginbx04 span{
  font-weight: 100;
}
#formcliente input{
  width: 45%;
  border-radius: 10px;
  padding: 8px;
  border: #d8d8d8 solid 2px;
  margin-bottom: 5px;
}
#formcliente input::placeholder{
  text-transform: uppercase;
  color: red;
}			
#formcliente input.submit_login{
    background: #ff9600;
    width: 50%;
    color: #fff;
}
.cont-format01{
  text-transform: uppercase;
}
#login_wecome{
  float: left;
  width: 620px;
}
#login_wecome h2{
text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
        float: left;
    width: 100%;
    margin-top: 25px;
}
#login_wecome span{
  font-weight: 600;
}
#login_wecome p{
    color: #727272;
    line-height: 20px;
}
#container_loginbx06 {     width: 100%; float:left;   margin: 3px  0px 0px 0px;  text-align: center;     }
#container_loginbx08 {  float:left;   margin: 3px  0px 0px 0px;     }
#container_loginbx08 p{
  color: #525252;
  line-height: 20px;
}
#container_loginbx08 span{
  color: #002c41;
}
#container_loginbx10 {  float:left;   margin: 43px  0px 0px 0px; width: 100%;    }

  #box_linha_laranja {width:100%; margin:auto; height:5px; background-color:#ff9600;     }
  #box_linha_azul {width:100%; margin:auto; height:70px; background-color:#002c41;     }
  #box_topo_azul {width:1150px;    margin:auto; height:70px; background-color:#002c41;     }
  #box_logo  { width:96px; height:32px;  float:left;  margin: 3px 0px 0px 0px;  }
  #box_txt1  { width:150px; height:20px;  float:left;  margin: 6px 0px 0px 3px;  color:#fff; font-size:17px; font-weight:bold;}
  #box_txt2  { width:250px; height:20px;  float:right;  margin: 6px 0px 0px 3px;  color:#fff; font-size:17px; font-weight:bold;  }
  #box_txt1_login  { width:250px; height:20px;  float:right;  margin: 6px 0px 0px 3px;  color:#fff; font-size:17px; font-weight:bold;  }
  #box_busca_reserva2 {  width:165px; float: left; height:25px;  margin:   0px  4px   0px  0px;   }
  #box_busca_reserva2  input  { width:160px; height:19px; color:#999999;   border-radius:  5px; margin:0px 0px 0px 0px;}
  #box_busca_reserva3 { height:25px; width:25px; float: left;   margin:   0px  0px   0px  0px;   }
  #box_busca_reserva3  button {  background-color: #ff9600; width:25px; height:25px; border:1px solid #ff9600; background-image:url(../images/busca_small.jpg);  cursor:pointer;  border-radius:  5px; } 
  


#diplay_banco1     { width:1150px; height:30px;  float:left;  margin: 7px 0px 10px 5px;  color:#FFFFFF;  }
#diplay_banco2     { width:1150px; height:100%;  float:left; margin: 7px 0px 0px 5px;  overflow:scroll;   }
#miolo_nav  { width:1150px; height:30px;  float:left;    }

#boxselect { float:left; width:350px; height:20px; }
#boxselect1 { float:left; width:270px; height:20px;  }
#boxselect1 select { width:200px;  border-radius:  5px;}

#boxselect10 { float:left; width:350px; height:20px; }
#boxselect10  select {   border-radius:  5px;}

#miolo_prod1, #miolo_prod10  { float:left; width:300px; height:20px; }
#miolo_prod1 select {   border-radius:  5px;}
 

.legenda { width:554px; height:17px; background: rgba(0, 0, 0, 0.4);   color:#fff; font-size:13px;     position: absolute; z-index:100; display: block;  margin: 0px  0px 0px 0px; padding:  3px;    }

#img_grd {  width: 840px; height: 560px; float: left; margin: 5px  0px 0px 8px;         }
#img_disponiveis {  width: 270px; height: 560px; float: right; margin: 5px  0px 0px 8px;         }
#img_disponiveis2 {  width: 270px; height: 30px; float: left; margin: 5px  0px 5px 8px;         }
#img_disponiveis3 {  width: 270px; height: 30px; float: left; margin: 5px  0px 5px 8px;  color:#002c41;  font-size: 16px; font-weight: bold;       }
#img_disponiveis4 {  width: 1100px; height: 40px; float: left; margin: 15px  0px 5px 8px;  color:#002c41;  font-size: 16px; font-weight: bold;         }


#loading             { width:72px;    float:left; height:12px;  margin: 0px  10px 0px 0px; padding: 0 0 0 0px;   display: none;}  

#navega_bancoimg  {  width: 190px; height: 680px; float: left; margin: 5px  0px 0px 0px;   border-right: solid 1px #D3D6CE;     }
#miolo_bancoimg   {  width: 830px; height: 680px; float: left; margin: 5px  0px 0px 8px;   overflow:auto;        }
#cabeca_bancoimg  {  width: 750px; height: 20px;  float: left; margin: 5px  0px 5px 0px;   font-size: 14px;      }
#tumb_bancoimg    {  width: 560px; height: 373px; float: left; margin: 3px  ;        }
#img_bancoimg     {  width: 560px; height: 373px;  float: left; margin: 0px  0px 0px 0px;     }
#bt_zip           {  width: 16px;  height: 14px;  float: left; margin: 2px 3px 2px 2px;  background-color:#c0c0c0;  border: solid 1px #000; text-align: center; color: #000; font-size: 10px; }
#bt_zip   a       { color: #000;}
#bt_zip2          {  width: 16px;  height: 14px;  float: left; margin: 2px 0px 2px 2px;  background-color:#c0c0c0;  text-align: center; color: #000; }
#bt_imgstp        {  width: 135px; height: 20px;  float: left; margin: 4px  0px 0px 2px; padding: 0px 0px 0px 3px; }



.bt_download { height: 10px; width: 135px;float: left; margin: 2px  0px 2px 3px;  }
.bt_download  a:link {background-image: url("../images/bt_downloadimg.jpg");  border: medium none; text-decoration: none;}
.bt_download a {display: block;  cursor: pointer; height: 20px; width: 135px;}
.bt_download a:hover{background-position:135px 0;}
.bt_id { height: 10px; width: 135px;float: left; margin: 2px  0px 2px 3px;  }

#box_img {  width: 440px; height: 390px;  float: left;      background-color:#F6F4E8;     border: solid 1px #D3D6CE;   border-radius: 5px 5px 5px 5px;     }
#img {  width: 300px; height: 300px;    margin: 25px  auto;     }

#fundo_t2   {  width: 420px; height: 400px;  background-color:#F6F4E8;  }
#linha1_t2  {  width: 400px; height: 25px;  margin: 0px  0px 0px 4px; font-size: 14px; font-weight: bold;}
#linha2_t2  {  width: 400px; height:300px;  margin: 4px  0px 0px 4px; text-align: center; }
#linha2_t23 {  width: 460px; height:450px;  margin: 4px  0px 0px 4px; text-align: center; }
#linha3_t2  {  width: 400px; height:20px;   margin: 4px  0px 0px 4px;  font-size: 12px; }

#fundo_t3  {  width: 460px; height: 420px;  background-color:#F6F4E8;  }
#fundo_t32 {  width: 460px; height: 530px;  background-color:#F6F4E8;  }

#fundo_t4  {  width: 870px; height: 700px;  background-color:#F6F4E8;  }
#linha1_t4 {  width: 850px; height: 25px;  margin: 0px  0px 0px 4px; font-size: 14px; font-weight: bold;}
#linha2_t4 {  width: 860px; height:600px;  margin: 4px  0px 0px 4px; text-align: center;   overflow:scroll; }
#linha3_t4 {  width: 850px; height:30px;  margin: 4px  0px 0px 4px;  font-size: 12px; }

#fundo_t5  {  width: 1000px; height: 700px;  background-color:#F6F4E8;  }
#linha2_t5 {  width: 995px; height: 670px; margin: 0px  0px 0px 4px;   background-color:#F6F4E8;  overflow:scroll;  }

/*  css para o modal   faï¿½o na proxima  */
#mapa-eco {display:none;     }
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container a.modalCloseImg { background:url("../../images/close_bhouse.png") no-repeat;  width:95px; height:27px; display:inline; z-index:3200; position:absolute; top:0px; right:10px; cursor:pointer;}



