html, body           {   font-family: "tahoma",Arial,sans; color:#002c41; margin: 0px 0px 0px 0px ; padding: 0;  font-size:12px;     }
a                    {  text-decoration: none;  color:#746552;}
#container            {  width: 1150px; height: auto;  margin: auto;     }
#container_conteudo  {  width: 1150px; height: auto;   float:left;   margin: 3px  0px 0px 0px;     }

  #box_linha_laranja {width:100%; margin:auto; height:5px; background-color:#ff9600;     }
  #box_linha_azul {width:100%; margin:auto; height:70px; background-color:#002c41;     }
  #box_topo_azul {width:1150px;    margin:auto; height:70px; background-color:#002c41;     }
  #box_logo  { width:96px; height:32px;  float:left;  margin: 3px 0px 0px 0px;  }
  #box_txt1  { width:150px; height:20px;  float:left;  margin: 6px 0px 0px 3px;  color:#fff; font-size:17px; font-weight:bold;}
  #box_txt2  { width:250px; height:20px;  float:right;  margin: 6px 0px 0px 3px;  color:#fff; font-size:17px; font-weight:bold;  }

  #box_busca_reserva2 {  width:165px; float: left; height:25px;  margin:   0px  4px   0px  0px;   }
  #box_busca_reserva2  input  { width:160px; height:19px; color:#999999;   border-radius:  5px; margin:0px 0px 0px 0px;}
  #box_busca_reserva3 { height:25px; width:25px; float: left;   margin:   0px  0px   0px  0px;   }
  #box_busca_reserva3  button {  background-color: #ff9600; width:25px; height:25px; border:1px solid #ff9600; background-image:url(../images/busca_small.jpg);  cursor:pointer;  border-radius:  5px; } 
  


#diplay_banco1     { width:1150px; height:30px;  float:left;  margin: 7px 0px 10px 5px;  color:#FFFFFF;  }
#diplay_banco2     { width:1150px; height:100%;  float:left; margin: 7px 0px 0px 5px;  overflow:auto;   }

#boxselect { float:left; width:350px; height:20px; }
#boxselect1 { float:left; width:270px; height:20px; margin-top: -13px;}
#boxselect1 select {   border-radius:  5px;}

#boxselect10 { float:left; width:350px; height:20px; }
#boxselect10  select {   border-radius:  5px;}

#miolo_prod1, #miolo_prod10  { float:left; width:300px; height:20px; }
#miolo_prod10 {margin-top: 15px;}
#miolo_prod1 select {   border-radius:  5px;}
 
.add_download { width:54px; float: right;  color:#fff; font-size:13px; margin: -16px 5px 0px 0px; background: #e89127; text-align: center; border-radius: 4px; }
.legenda { width:554px; height:17px; background: rgba(0, 0, 0, 0.4);   color:#fff; font-size:13px;     position: absolute; z-index:100; display: block;  margin: 0px  0px 0px 0px; padding:  3px;    }

#img_grd {  width: 840px; height: 560px; float: left; margin: 5px  0px 0px 8px;         }
#img_disponiveis {  width: 270px; height: 560px; float: right; margin: 5px  0px 0px 8px;         }
#img_disponiveis2 {  width: 270px; height: 30px; float: left; margin: 5px  0px 5px 8px;         }
#img_disponiveis3 {  width: 270px; height: 30px; float: left; margin: 5px  0px 5px 8px;  color:#002c41;  font-size: 16px; font-weight: bold;       }
#img_disponiveis4 {  width: 1100px; height: 40px; float: left; margin: 15px  0px 5px 8px;  color:#002c41;  font-size: 16px; font-weight: bold;         }


#loading             { width:72px;    float:left; height:12px;  margin: 0px  10px 0px 0px; padding: 0 0 0 0px;   display: none;}  

#navega_bancoimg  {  width: 190px; height: 680px; float: left; margin: 5px  0px 0px 0px;   border-right: solid 1px #D3D6CE;     }
#miolo_bancoimg   {  width: 830px; height: 680px; float: left; margin: 5px  0px 0px 8px;   overflow:auto;        }
#cabeca_bancoimg  {  width: 750px; height: 20px;  float: left; margin: 5px  0px 5px 0px;   font-size: 14px;      }
#tumb_bancoimg    {  width: 560px; height: 373px; float: left; margin: 3px  ;        }
#img_bancoimg     {  width: 560px; height: 373px;  float: left; margin: 0px  0px 0px 0px;     }
#bt_zip           {  width: 16px;  height: 14px;  float: left; margin: 2px 3px 2px 2px;  background-color:#c0c0c0;  border: solid 1px #000; text-align: center; color: #000; font-size: 10px; }
#bt_zip   a       { color: #000;}
#bt_zip2          {  width: 16px;  height: 14px;  float: left; margin: 2px 0px 2px 2px;  background-color:#c0c0c0;  text-align: center; color: #000; }
#bt_imgstp        {  width: 135px; height: 20px;  float: left; margin: 4px  0px 0px 2px; padding: 0px 0px 0px 3px; }



.bt_download { height: 10px; width: 135px;float: left; margin: 2px  0px 2px 3px;  }
.bt_download  a:link {background-image: url("../images/bt_downloadimg.jpg");  border: medium none; text-decoration: none;}
.bt_download a {display: block;  cursor: pointer; height: 20px; width: 135px;}
.bt_download a:hover{background-position:135px 0;}
.bt_id { height: 10px; width: 135px;float: left; margin: 2px  0px 2px 3px;  }

#box_img {  width: 440px; height: 390px;  float: left;      background-color:#F6F4E8;     border: solid 1px #D3D6CE;   border-radius: 5px 5px 5px 5px;     }
#img {  width: 300px; height: 300px;    margin: 25px  auto;     }

#fundo_t2   {  width: 420px; height: 400px;  background-color:#F6F4E8;  }
#linha1_t2  {  width: 400px; height: 25px;  margin: 0px  0px 0px 4px; font-size: 14px; font-weight: bold;}
#linha2_t2  {  width: 400px; height:300px;  margin: 4px  0px 0px 4px; text-align: center; }
#linha2_t23 {  width: 460px; height:450px;  margin: 4px  0px 0px 4px; text-align: center; }
#linha3_t2  {  width: 400px; height:20px;   margin: 4px  0px 0px 4px;  font-size: 12px; }

#fundo_t3  {  width: 460px; height: 420px;  background-color:#F6F4E8;  }
#fundo_t32 {  width: 460px; height: 530px;  background-color:#F6F4E8;  }

#fundo_t4  {  width: 870px; height: 700px;  background-color:#F6F4E8;  }
#linha1_t4 {  width: 850px; height: 25px;  margin: 0px  0px 0px 4px; font-size: 14px; font-weight: bold;}
#linha2_t4 {  width: 860px; height:600px;  margin: 4px  0px 0px 4px; text-align: center;   overflow:scroll; }
#linha3_t4 {  width: 850px; height:30px;  margin: 4px  0px 0px 4px;  font-size: 12px; }

#fundo_t5  {  width: 1000px; height: 700px;  background-color:#F6F4E8;  }
#linha2_t5 {  width: 995px; height: 670px; margin: 0px  0px 0px 4px;   background-color:#F6F4E8;  overflow:scroll;  }

/*  css para o modal   faï¿½o na proxima  */
#mapa-eco {display:none;     }
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container a.modalCloseImg { background:url("../../images/close_bhouse.png") no-repeat;  width:95px; height:27px; display:inline; z-index:3200; position:absolute; top:0px; right:10px; cursor:pointer;}

#shopping_cart { width: 20%; background-color: #fff; border: 1px solid #757879; position:fixed; display:none; right: 0; top:0; z-index:1000;   padding:1% ; overflow: hidden; height: 65%; }

#shopping02::-webkit-scrollbar { width: 10px;}
/* Track */
#shopping02::-webkit-scrollbar-track { /*box-shadow: inset 0 0 0 1px #e8912782;*/ background: #e8912729; border-radius: 10px;} 
 /* Handle */
#shopping02::-webkit-scrollbar-thumb { background: #e89127;  border-radius: 10px;}
/* Handle on hover */
#shopping02::-webkit-scrollbar-thumb:hover { background: #c36d05; }

#shopping_cart_button {  width:30%;   float:right;   margin: -1% 0%  0%  0% ;  }
#shopping_cart_button img {  width:30%;  float:right;  }

/* .downloadimg{ position: fixed; width: 19.5% !important; bottom: 32%; padding: 7px 0 !important;} */
.downloadimg:hover{ background: #f3a03b !important;}

#shopping01 {    width:100%;   float:left; color:#FFFFFF; padding:1% 0% 1% 0%;   border-radius:  5px ; background-color:#e89127; text-align:center;  font-size:0.9vw;  }
#shopping02 {    width:100%;   float:left; padding:1% 0% 0% 1%;      margin: 3% 0%  2%  0% ; height: 75%; overflow: auto;}
#shopping03 {    width:100%;   float:left; color:#4c4b4b; padding:1% 0% 1% 1%;       font-size:0.9vw;    margin: 1% 0%  0%  0% ; font-weight:bold;   }
#shopping04 {    width:98%;   float:left; color:#4c4b4b; padding:1% 0% 1% 1%; text-align:right;       font-size:0.7vw;    margin: 1% 0%  0%  0% ; font-weight:bold;   }
#shopping05 {    width:98%;  float:left; padding:1% 0% 2% 1%;    font-size:0.7vw;  color:#4c4b4b; border-bottom: 1px solid #e89127;  margin: 1% 0%  2%  0% ;  }
#shopping05 a { text-decoration:none; font-weight: bold; margin-left: -239px; background: #ff5555; border-radius: 50px; padding: 3px 6px; color: #fff; opacity: 1;}
#shopping05 a:hover{background: #b92525; opacity: 0.75;}
#shopping05 a img{float: none;}
#shopping05 p, #shopping05 img{float: left; padding-right: 10px;}
#shopping05 p{ width: 80px;}
#shopping06 {    width:98%;  float:left;   border-bottom: 1px solid #e89127;  margin: 1% 0%  2%  0% ;  }
#shopping07 {    width:100%;  float:left; padding:1% 0% 1% 0%;    font-size:0.9vw;  color:#4c4b4b;   margin: 0% 0%  0%  0% ;  }
#shopping07 a  { text-decoration:none; color:#4c4b4b; font-weight:bold;}
#shopping08 {    width:100%;  float:left;   margin: 0% 0%  2%  0% ;  font-size:0.8vw;  }
#shopping09 {  width:25%;   float:left;    padding: 1% 0  1% 0;      margin: 1% 0%  3% 0% ;  text-align:center; background-color: #e89127;    color:#fff;   border-radius:  5px  ;  font-size:0.9vw;  } 
#shopping10 {    width:100%;  float:left;   margin: 1% 0%  2%  0% ;   }
#shopping11 { width:100%;  float:left; color:#4c4b4b; font-weight:bold; font-size:1.3vw;  }
#shopping12 { width:100%;  float:left; color:#4c4b4b; font-weight:bold; font-size:1.1vw;  margin: 1% 0%  2%  0% ; }

